<div class="header">
  <div class="title">
    <h1>{{title}}</h1>
  </div>
  <div class="nav">
    <a [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/login']"
       routerLinkActive="active">Home</a>
    <a [routerLink]="['/train']" routerLinkActive="active">Train</a>
    <a [routerLink]="['/registration']" routerLinkActive="active">Registration</a>
    <img
      (click)="authService.logout()"
      [routerLink]="['/login']"
      alt="logout"
      class="imgLogout"
      routerLinkActive="active"
      src="../assets/logout.svg">

  </div>
</div>
<router-outlet>
</router-outlet>

