<div class="header">
  <div class="title">
    <h1>{{title}}</h1>
  </div>
  <div class="nav">
    <a [routerLinkActiveOptions]="{exact:true}"
       [routerLink]="['/login']"
       routerLinkActive="active">Home</a>
    <a [routerLink]="['/train']" routerLinkActive="active">Train</a>
    <a [routerLink]="['/registration']" routerLinkActive="active">Registration</a>
    <!--  TODO  не срабатывают сразу изменения в isAuthenticate-->
    <img
      *ngIf="authService.isAuthenticated | async"
      [routerLink]="['/edit-info']"
      alt="editLogin"
      class="img"
      routerLinkActive="active"
      src="../assets/person.svg">
    <img
      (click)="authService.logout()"
      [routerLink]="['/login']"
      alt="logout"
      class="img"
      routerLinkActive="active"
      src="../assets/logout.svg">

  </div>
</div>
<router-outlet>
</router-outlet>

