.header {
  text-align: center;
  background: silver;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
}

.nav {
  max-width: 400px;
  display: flex;
  text-decoration: none;
  padding: 5px;
  font-size: 1.5rem;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  margin: auto 10px;
}

.active {
  color: #000000;
}

a:hover {
  color: #000000;
  transition: .5s;
}

.img {
  max-width: 20px;
  padding: 0 10px;
  margin-right: 10px;
}

.img:hover {
  cursor: pointer;
  background-color: #333333;
  transition: 0.5s;
}



