<script src="registration.module.ts"></script>
<div [formGroup]="form" class="container">
  <app-input formControlName="userName" placeholder="Your Name" type="text"></app-input>
  <app-input formControlName="displayName" placeholder="Login" type="text"></app-input>
  <app-input formControlName="email" placeholder="Email" type="email"></app-input>
  <app-input formControlName="password" placeholder="Password" type="password"></app-input>
  <div *ngIf=" form.get('password')!.invalid && form.get('password')!.touched">
  </div>
  <app-input formControlName="confirmPassword" placeholder="Confirm password" type="password"></app-input>
  <app-button (click)="register()" [buttonClass]='form.invalid ? "error":"primary"'>Register</app-button>
</div>

